body{
  text-align: center;
  margin: 5em;
}

/*button*/
.btn-content{
margin: 1em;
}

.btn-square-shadow {
  font-family: 'Alegreya Sans SC', sans-serif;
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #808080;/*color*/
  color: #FFF;
  border-bottom: solid 4px #434343;
  border-radius: 3px;
  width: 15em;
}

.btn-square-shadow:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
}

/*title*/
h1 {
  font-family: 'Alegreya Sans SC', sans-serif;
  position: relative;
  display: inline-block;
  padding: 0 65px;
  text-align: center;
}

h2 {
  text-align: center;
}

h1:before,
h1:after {
  position: absolute;
  top: calc(50% - 3px);
  width: 50px;
  height: 6px;
  content: '';
  border-top: solid 2px #000;
  border-bottom: solid 2px #000;
}

h1:before {
  left: 0;
}

h1:after {
  right: 0;
}

/*video*/
#header{
  position: relative;
  height: 100vh;
} 

#video-area{
  position: fixed;
  z-index: -1;
  top: 0;
  right:0;
  left:0;
  bottom:0;
  overflow: hidden;
}

#video {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 177.77777778vh;
  height: 56.25vw;
  min-height: 100%;
  min-width: 100%;
  opacity: 15%;
}